body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 1000px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid black 1px;
  background-color: #ffffff;
}

.line {
  position: relative;
  width: 800px;
  height: 40px;
  border: solid black 1px;
  background-color: rgb(253, 255, 240);
}

.box {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: -6px;
  left: -1px;
  border: solid black 1px;
  z-index: 5;
  background-color: aqua;
}
